.containBooks {
  width: 100%;
  height: 80vh;
  margin: 25px auto;
  box-shadow: 4px 4px 4px 4px;
  border-radius: 15px;
  padding: 15px;
  overflow-y: scroll;
  .bookGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
